@use '../../../../../../../../constants';

.songs {
  font-family: constants.$spotify-font;
  user-select: none;
  // padding: 2em 0.5em 5em 0.5em;
  padding: 2em 0.5em 1em 0.5em;
  @media screen and (min-width: constants.$md) {
    padding: 2em 3em 1em 3em;
  }
  color: rgba(255, 255, 255, 0.5);
  .grid-header {
    display: grid;
    grid-template-columns: 85% 15%;
    @media screen and (min-width: constants.$sm) {
      grid-template-columns: 5% 40% 25% 20% 10%;
    }
    .title {
      font-size: 0.8em;
      font-weight: 400;
      border-bottom: 1px solid;
      border-color: rgba(255, 255, 255, 0.1);
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      &:nth-of-type(1) {
        text-align: center;
      }
      &:nth-of-type(5) {
        text-align: center;
      }
    }
  }
  button {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-family: constants.$spotify-font;
    font-weight: 500;
    border-radius: 3px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: azure;
      .number {
        display: none !important;
        font-size: 1.1em;
      }
      .play-icon {
        @media screen and (min-width: constants.$sm) {
          display: flex !important;
        }
        align-self: center;
        justify-self: center;
      }
      .duration {
        .remove-from-liked-icon {
          visibility: visible;
        }
      }
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
      color: azure;
    }
    .song {
      display: grid;
      grid-template-columns: 85% 15%;
      @media screen and (min-width: constants.$sm) {
        grid-template-columns: 5% 40% 25% 20% 10%;
      }
    }
    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      font-weight: 600;
    }
    .play-icon {
      display: none !important;
      font-size: 2em;
    }
    .song-name-wrapper {
      display: flex;
      padding: 0.5em 0 0.5em 0;
      img {
        padding-left: 0.5em;
        @media screen and (min-width: constants.$sm) {
          padding-left: 0;
        }
        width: 3em;
        height: 3em;
      }
      .song-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding-left: 1em;
        width: 70%;
        span {
          font-size: 1em;
          @media only screen and (min-width: constants.$lg) {
            font-size: 1.1em;
          }
          font-weight: 500;
          font-family: constants.$spotify-font;
          &:nth-of-type(1) {
            color: azure;
            font-size: 1.1em;
            @media only screen and (min-width: constants.$lg) {
              font-size: 1.2em;
            }
            padding-bottom: 0.2em;
          }
          &:nth-of-type(2) {
            display: flex;
            align-items: center;
            font-weight: 600;
          }
        }
        .explicit-icon {
          font-size: large;
          padding-right: 0.2em;
        }
      }
    }
    .album {
      font-size: 1em;
      @media only screen and (min-width: constants.$lg) {
        font-size: 1.1em;
      }
    }
    .time-added {
      font-size: 1em;
      @media only screen and (min-width: constants.$lg) {
        font-size: 1.1em;
      }
    }
    .flex-align-center {
      display: flex;
      align-items: center;
      text-align: left;
    }
    .flex-align-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: end;
    }
    .duration {
      padding-right: 2em;
      font-size: 1em;
      @media only screen and (min-width: constants.$lg) {
        font-size: 1.1em;
      }
      span:nth-of-type(1) {
        display: flex;
        align-items: center;
      }
      .heart-icon {
        padding-right: 7px;
        @media screen and (min-width: constants.$md) {
          padding-right: 10px;
        }
        font-size: 1.2em;
      }
      .add-to-liked-icon {
        color: constants.$spotify-green;
        transition: all 0.1s ease-in-out;
      }
      .remove-from-liked-icon {
        visibility: hidden;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.1s ease-in-out;
        &.toggle {
          transform: scale(1.3);
        }
      }
    }
  }
  .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }
  .skeleton-song {
    height: 50px;
    margin-bottom: 0.3em;
  }
}

.sm-block {
  display: none !important;
  @media screen and (min-width: constants.$sm) {
    display: block !important;
  }
}

.sm-flex {
  display: none !important;
  @media screen and (min-width: constants.$sm) {
    display: flex !important;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
