@use '../../constants';

.main-page {
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.92);
  height: 100%;
  @media screen and (min-width: constants.$sm) {
    height: calc(var(--vh, 1vh) * 100);
  }
  display: flex;
  flex-direction: column;
  .main-page-content {
    height: 100%;
    display: grid;
    grid-template-rows: 92% 8%;
    @media only screen and (min-width: constants.$sm) {
      // height: 88%;
      grid-template-columns: 20% auto;
      grid-template-rows: auto;
    }
    @media only screen and (min-width: constants.$lg) {
      grid-template-columns: 15% auto;
      grid-template-rows: auto;
    }
  }
}
